{% extends 'base.html.twig' %}

{% block title %}Leson index{% endblock %}

{% block body %}
    <h1>Leson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LesonCode</th>
                <th>LesonTitle</th>
                <th>TimeAllocated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leson in lesons %}
            <tr>
                <td>{{ leson.id }}</td>
                <td>{{ leson.lesonCode }}</td>
                <td>{{ leson.lesonTitle }}</td>
                <td>{{ leson.timeAllocated }}</td>
                <td>
                    <a href="{{ path('app_leson_show', {'id': leson.id}) }}">show</a>
                    <a href="{{ path('app_leson_edit', {'id': leson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_leson_new') }}">Create new</a>
{% endblock %}
