<div class="col-md-12 mb-4">
    <p class="text-center text-muted">
        Remplissez le formulaire ci-dessous pour ajouter un nouveau <strong>sous-module</strong> à un module existant.
    </p>
</div>
<div class="ms-2 p-2 col-md-12 bg-light rounded shadow">
    {{ form_start(form) }}
    <div class="mb-3 ms-2 me-2 p-2">
        <label for="title" class="form-label fw-bold">Titre</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3 ms-2 me-2 p-2">
        <label for="leson_description" class="form-label fw-bold">Description</label>
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}    
    </div>
    <div class="mb-3 ms-2 me-2 p-2">
        <label for="item_image" class="form-label fw-bold">Image</label>
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">Veuillez télécharger une image pour le sous-module.</small>
    </div>
    <button class="btn btn-primary m-3" type="submit">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
