{{ form_start(form) }}
    <div><label for="password" class="fw-bold">Code</label>
        {{ form_widget(form.categoryCode, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.categoryCode) }}
    </div>
    <div><label for="password" class="fw-bold">Libellé</label>
        {{ form_widget(form.categoryLabel, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.categoryLabel) }}
    </div>
    <button class="btn btn-success mt-3" type="submit">
        <i class="bi bi-database-add"></i>
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
