{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <main class="main shadow-sm p-3 mb-5 bg-light rounded container">
        {{include('partials/adminHeader.html.twig') }}
        <div class="container">
            
            <div class="row mb-4 mt-4">
                <p class="h3">Liste des categories</p>
                <div class="col-md-2">
                    <h1 class="mb-4">
                    <i class="bi bi-bookmark-plus"></i>
                    </h1>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('app_category_new') }}" class="btn btn-success mb-3">
                        <i class="bi bi-bookmark-plus"></i>
                        Ajouter
                    </a>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            {% if categories is not empty %}
                <p class="text-muted">Total categories: {{ categories|length }}</p>
            {% endif %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code Categorie</th>
                        <th>Libellé catégorie</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.categoryCode }}</td>
                        <td>{{ category.categoryLabel }}</td>
                        <td>
                            <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-info">
                                <i class="bi bi-eye"></i>
                                show
                            </a>
                            <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                                edit
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_admin_users_new') }}" class="btn btn-success">
                <i class="bi bi-person-add"></i>
                Create new
            </a>
        </div>
    </main>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
