{% extends 'base.html.twig' %}

{% block title %}StudentCourse index{% endblock %}

{% block body %}
    <h1>StudentCourse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NberCourses</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_course in student_courses %}
            <tr>
                <td>{{ student_course.id }}</td>
                <td>{{ student_course.nberCourses }}</td>
                <td>{{ student_course.amount }}</td>
                <td>
                    <a href="{{ path('app_student_course_show', {'id': student_course.id}) }}">show</a>
                    <a href="{{ path('app_student_course_edit', {'id': student_course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_course_new') }}">Create new</a>
{% endblock %}
